Service References/OMPropel/RequestInbound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestInbound" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IRequestInbound_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://stagingfeed.omdental.co/RequestInbound.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://stagingfeed.omdental.co/RequestInbound.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://stagingfeed.omdental.co/RequestInbound.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MDE.TransactionServices.External" />
      <xsd:import schemaLocation="https://stagingfeed.omdental.co/RequestInbound.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequestInbound_UploadEligibilityRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadEligibilityRequest" />
  </wsdl:message>
  <wsdl:message name="IRequestInbound_UploadEligibilityRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadEligibilityRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestInbound_UploadClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadClaim" />
  </wsdl:message>
  <wsdl:message name="IRequestInbound_UploadClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestInbound_UploadMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadMessage" />
  </wsdl:message>
  <wsdl:message name="IRequestInbound_UploadMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequestInbound">
    <wsdl:operation name="UploadEligibilityRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestInbound/UploadEligibilityRequest" message="tns:IRequestInbound_UploadEligibilityRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestInbound/UploadEligibilityRequestResponse" message="tns:IRequestInbound_UploadEligibilityRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestInbound/UploadClaim" message="tns:IRequestInbound_UploadClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestInbound/UploadClaimResponse" message="tns:IRequestInbound_UploadClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestInbound/UploadMessage" message="tns:IRequestInbound_UploadMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestInbound/UploadMessageResponse" message="tns:IRequestInbound_UploadMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRequestInbound" type="tns:IRequestInbound">
    <wsp:PolicyReference URI="#BasicHttpBinding_IRequestInbound_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadEligibilityRequest">
      <soap:operation soapAction="http://tempuri.org/IRequestInbound/UploadEligibilityRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadClaim">
      <soap:operation soapAction="http://tempuri.org/IRequestInbound/UploadClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMessage">
      <soap:operation soapAction="http://tempuri.org/IRequestInbound/UploadMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestInbound">
    <wsdl:port name="BasicHttpBinding_IRequestInbound" binding="tns:BasicHttpBinding_IRequestInbound">
      <soap:address location="https://stagingfeed.omdental.co/RequestInbound.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>