Service References/OMPropel/RequestInbound1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDE.TransactionServices.External" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDE.TransactionServices.External" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://stagingfeed.omdental.co/RequestInbound.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RequestServiceResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="IsTranslationSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestServiceResponse" nillable="true" type="tns:RequestServiceResponse" />
</xs:schema>